<h2>Edit/Add Teaching Loads</h2>
<form [formGroup]="editForm" (ngSubmit)="confirm()">
    <label class="form-label">Acad Year:</label>
    <input type="text" class="form-control" formControlName="acad_year">

    <label class="form-label">Semester:</label>
    <input type="text" class="form-control" formControlName="sem">

    <label class="form-label">Subject Taught:</label>
    <input type="text" class="form-control" formControlName="sub_taught">

    <label class="form-label">Number of Units:</label>
    <input type="number" class="form-control" formControlName="no_of_units">
    
</form>

<!-- Confirmation -->
<div>
    <button (click)="confirm()" class="btn btn-primary">Confirm</button>
    <button (click)="cancel()" class="btn btn-secondary">Cancel</button>
</div>