<div class="row">
    <div class="col-4 p-4">
        <h2>Holy Angel University</h2>
        <hr>
        <h2>Employee Portal</h2>
    </div>

    <div class="col p-4">
        <div class="border rounded w-50 position-absolute top-0 start-25 m-5 p-5">
            <h1 class="text-center">Sign In</h1>
            <form action="" [formGroup]="loginForm" (ngSubmit)="submit()">
                <!-- Username -->
                <label for="" class="form-label">USERNAME</label>
                <input type="text" id="username"
                formControlName="username"
                class="form-control m-2">
                
                <!-- Password -->
                <label for="" class="form-label">PASSWORD</label>
                <input type="text" id="password"
                formControlName="password"
                class="form-control m-2">

                <button type="submit"
                class="btn btn-primary">
                    Login
                </button>
            </form>
            
            <div class="position-absolute bottom-0 end-0 m-2"><a href="/admin-login">Are you an admin?</a></div>
        </div>
    </div>
    

</div>