<h1>Edit/Add Organization</h1>


<form [formGroup]="editForm" (ngSubmit)="confirm()">
    <div class="row">
        <label class="form-label">Organization Name:</label>
        <input type="text" class="form-control" formControlName="org_name">
    </div>
    <div class="row">
        <label class="form-label">Date:</label>
        <input type="date" class="form-control" formControlName="date">
    </div>
</form>
<!-- Confirmation -->
<div>
    <button (click)="confirm()" class="btn btn-primary">Confirm</button>
    <button (click)="cancel()" class="btn btn-secondary">Cancel</button>
</div>